<!DOCTYPE html>
<html>
<head>

    <link href="~/css/Class.css" rel="stylesheet" />


</head>
<body>


    <div class="text-center">

        <h1 class="display-4">Welcome</h1>
        <div class="main">
            <img class="img-fluid" src="~/images/background.jpg" />
        </div>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <label>ID of Login User @ViewBag.Id </label>
    </div>
</body>
</html>

